.button {
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-left: 10px;
}

.button:hover {
    background-color: #ccc;
}

.add {
    background-color: #e0e0e0;
}

.input-box {
    border: 1px solid #ccc;
    padding: 10px;
}

.error-text {
    color: red;
}