#mainContainer {
    color: #000;
    width: 900px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}

#poster {
    width: 400px;
    height: inherit;
}

#info {
    width: 500px;
    box-sizing: border-box;
    padding: 30px;
    background-color: #fff;
    
}

#info>h1 {
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

#info>h4 {
    letter-spacing: 3px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
    color: #1161ed;
}

#info>p {
    line-height: 1.6em;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    letter-spacing: 2px;
}

.button {
    background-color: #1161ed;
    opacity: 0.8;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 45px;
    border: none;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
}

.button:hover {
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.btns-wrapper {
    display: flex;
}