.songs {
    padding-left: 0;
}

.songs-wrapper {
    margin-top: 5px;
    padding-bottom: 10px;
    border: 2px solid #ccc;
    max-width: 550px;
    background-color: #ffe2d8;
    position: relative;
}