.like {
    background-color: #ff9fa4;
    width: 55px;
    margin-right: 10px;
}
.delete {
    background-color: #a6e2f5;
    width: 55px;
    margin-right: 10px;
}
.sort {
    background-color: #d7948c;
    width: 55px;
    margin-left: 5px;
    text-align: center;
    padding: 2px;
}